body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff0000;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    position: relative;
}

.nav-item a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #c00b0b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #850f0f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ab2727;
}

.dropdown:hover .dropdown-content {
    display: block;
}
